.container-login form input{
  width: 305px;
  padding: 15px;
}

.container-login form input[type="submit"]{
  padding: 14px 45px 15px 45px;
  font-weight: 700;
  width: inherit;
}

.container-login form p{
  text-align: center;
  padding: 20px 0;
  color: #33BBE1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.container-login form a{
  display: block;
  width: fit-content;
  background-color: #0A4879;
  padding: 14px 35px 15px 35px;
  margin: 25px auto;
  border-radius: 50px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}