.container-post{
  max-width: 940px;
  margin: 0 auto 25px auto;
}

.container-post a img{
  margin-top: 10px;
  width: 25px;
  height: auto;
}

.post-header{
  margin: 20px 0;
}

.post-header h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.post-header p{
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.post-content{
  display: flex;
}

.post-img{
  margin-right: 15px;
}

.post-img img{
  width: 350px;
  height: auto;
  border-radius: 5px;
}

.post-content span p{
  color: #8e8e8e;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 10px;
}