.container-profile{
  max-width: 700px;
  margin: 20px auto 25px auto;
}

.container-profile h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 20px;
}

.profile-content{
  display: flex;
}

.userImg {
  margin-right: 30px;
}

.userImg img{
  width: 150px;
  height: auto;
}

.form-content h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 15px;
}

.profile-content form input{
  display: block;
  width: 305px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ECECEC;
  background-color: #F6F6F6;
}

.profile-content form input::placeholder{
  font-size: 14px;
  color: #C3C3C3;
  font-family: 'Roboto', sans-serif
}

.profile-content form select{
  display: block;
  padding: 15px 136px 15px 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ECECEC;
  background-color: #F6F6F6;
  outline: none;
}

.profile-content form input[type="submit"]{
  background-color: #33BBE1;
  width: inherit;
  padding: 14px 35px 15px 35px;
  border-radius: 50px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 0;
  height: fit-content;
}

.profile-button a {
  width: fit-content;
  display: block;
  background-color: #EB5757;
  padding: 15px 42px 0px 42px;
  border-radius: 50px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border: none;
}

.profile-button{
  display: flex;
  justify-content: space-evenly;
}

