@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

a{
  color: #FFF;
}

header{
  width: 100%;
  background: #33BBE1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1{
  color: #FFFEFF;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 24px;
  background: #0A4879;
}

header .button-login, p{
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  justify-content: start;
  padding-right: 20px;
}

header p a{
  text-decoration: underline;
}