.container-feed{
  max-width: 940px;
  margin: 0 auto 25px auto;
}

.header-feed{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-feed h2{
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 28px;
  padding: 20px 64px 10px 0;
}

.header-feed form input{
  display: block;
  padding: 13px 120px 13px 15px;
  margin-top: 10px;
  border-radius: 30px;
  border: 1px solid #ECECEC;
  background-color: #F6F6F6;
}

.header-feed form input::placeholder{
  font-size: 14px;
  color: #C3C3C3;
  font-family: 'Roboto', sans-serif
}

.cards-feed ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
}

.cards-feed img{
  width: 300px;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

.cards-feed h3{
  font-size: 14px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 7px;
}

.cards-feed span p{
  width: 300px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.cards-feed span{
  color: #C3C3C3;
  font-size: 12px;
  padding-top: 7px;
}

.cards-feed p{
  font-size: 18px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-top: 20px;
}