.container{
  width: fit-content;
  max-width: 500px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h2{
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 28px;
  padding: 20px 64px 10px 0;
}

.container form input{
  width: fit-content;
  display: block;
  padding: 15px 130px 15px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ECECEC;
  background-color: #F6F6F6;
}

.container form select{
  display: block;
  padding: 15px 146px 15px 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ECECEC;
  background-color: #F6F6F6;
  outline: none;
}

option.default-option{
  color: #C3C3C3;
  font-family: 'Roboto', sans-serif
}

.container form input::placeholder{
  color: #C3C3C3;
  font-family: 'Roboto', sans-serif
}

.container form option {
  color: #000;
  font-family: 'Roboto', sans-serif
}

.container form input[type="submit"]{
  background-color: #33BBE1;
  padding: 14px 35px 15px 35px;
  margin: 0 auto;
  border-radius: 50px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}